@use '../util' as *;

html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  
  @include breakpoint(medium) {
    height: 100vh;
    display: grid;
    place-content: center;
  }
}

.grid {
  display: grid;
  gap: rem(70);

  @include breakpoint(medium) {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}