@use '../util' as *;

html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  
  @include breakpoint(medium) {
    height: 100vh;
    display: grid;
    place-content: center;
  }
}

.top-left-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 55%;
  border-radius: 0 0 rem(1000) 0;
  background-color: var(--lt-violet);

  @include breakpoint(medium) {
    width: 40%;
    height: 95%;
    left: rem(-143);
    border-radius: 0 0 rem(1000) rem(1000);
  }
}

.bot-right-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 55%;
  border-radius: rem(1000) 0 0 0;
  background-color: var(--lt-gr-violet);
  z-index: -1;

  @include breakpoint(medium) {
    right: rem(-240);
    width: 40%;
    height: 90%;
    border-radius: rem(1000) rem(1000) 0 0;
  }
}

.grid {
  display: grid;
  gap: rem(70);

  @include breakpoint(medium) {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}