@use '../util' as *;

@keyframes online-ind {
  0% {
    background-color: hsl(107, 100%, 51%);
  }
  50% {
    background-color: hsl(107, 65%, 53%);
  }
  100% {
    background-color: hsl(107, 100%, 51%);
  }
}

@keyframes header-in {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes app-vibrate {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(-10deg);
  }
  35% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  65% {
    transform: rotateZ(5deg);
  }
  80% {
    transform: rotateZ(-10deg);
  }
  90% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes sms-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes text-highlight {
  0% {
    color: cyan;
  }
  50% {
    color: hsl(180, 100%, 40%);
  }
  100% {
    color: cyan;
  }
}